<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ActivityFileMapper">
	<resultMap id="BaseResultMap" type="com.card.inteface.entity.ActivityFile">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="image_url" property="imageUrl" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="activity_id" property="activityId" jdbcType="INTEGER" />
	</resultMap>
	
	<sql id="Base_Column_List">
		id,
		image_url,
		status,
		activity_id
	</sql>
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from activity_file
		<trim prefix="WHERE" prefixOverrides="AND|OR">
		id = #{id,jdbcType=INTEGER}
		</trim>
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from activity_file
		<trim prefix="WHERE" prefixOverrides="AND|OR">
		id = #{id,jdbcType=INTEGER}
		</trim>
	</delete>
	
	<insert id="insertSelective" parameterType="com.card.inteface.entity.ActivityFile">
		insert into activity_file
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="null != id">
				id,
			</if>
			<if test="null != imageUrl">
				image_url,
			</if>
			<if test="null != status">
				status,
			</if>
			<if test="null != activityId">
				activity_id,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="null != id">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="null != imageUrl">
				#{imageUrl,jdbcType=VARCHAR},
			</if>
			<if test="null != status">
				#{status,jdbcType=INTEGER},
			</if>
			<if test="null != activityId">
				#{activityId,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	
	<update id="updateByPrimaryKeySelective" parameterType="com.card.inteface.entity.ActivityFile">
		update activity_file
		<set>
			<if test="null != id">
				id = #{id,jdbcType=INTEGER},
			</if>
			<if test="null != imageUrl">
				image_url = #{imageUrl,jdbcType=VARCHAR},
			</if>
			<if test="null != status">
				status = #{status,jdbcType=INTEGER},
			</if>
			<if test="null != activityId">
				activity_id = #{activityId,jdbcType=INTEGER},
			</if>
		</set>
		<trim prefix="WHERE" prefixOverrides="AND|OR">
		id = #{id,jdbcType=INTEGER}
		</trim>
	</update>

	<select id="findActivityImageUrl" resultType="java.lang.String" parameterType="java.lang.Integer">
		select
		image_url
		from activity_file
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			activity_id = #{activityId,jdbcType=INTEGER}
		</trim>
	</select>
</mapper>