<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CommentMapper">
	<resultMap id="BaseResultMap" type="com.card.inteface.entity.Comment">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="content" property="content" jdbcType="VARCHAR" />
		<result column="from_uid" property="fromUid" jdbcType="INTEGER" />
		<result column="nickname" property="nickname" jdbcType="VARCHAR" />
		<result column="thumb_img" property="thumbImg" jdbcType="VARCHAR" />
		<result column="is_reply" property="isReply" jdbcType="INTEGER" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="object_id" property="createTime" jdbcType="INTEGER" />

	</resultMap>

	<resultMap id="CommentVo" type="com.card.inteface.vo.CommentVo">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="content" property="content" jdbcType="VARCHAR" />
		<result column="from_uid" property="fromUid" jdbcType="INTEGER" />
		<result column="nickname" property="nickname" jdbcType="VARCHAR" />
		<result column="thumb_img" property="thumbImg" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="object_id" property="objectId" jdbcType="INTEGER" />
	</resultMap>
	
	<sql id="Base_Column_List">
		id,
		content,
		from_uid,
		nickname,
		thumb_img,
		is_reply,
		status,
		create_time,
		object_id
	</sql>
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from comment
		<trim prefix="WHERE" prefixOverrides="AND|OR">
		id = #{id,jdbcType=INTEGER}
		</trim>
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from comment
		<trim prefix="WHERE" prefixOverrides="AND|OR">
		id = #{id,jdbcType=INTEGER}
		</trim>
	</delete>
	
	<insert id="insertSelective" parameterType="com.card.inteface.entity.Comment">
		insert into comment
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="null != id">
				id,
			</if>
			<if test="null != content">
				content,
			</if>
			<if test="null != fromUid">
				from_uid,
			</if>
			<if test="null != nickname">
				nickname,
			</if>
			<if test="null != thumbImg">
				thumb_img,
			</if>
			<if test="null != isReply">
				is_reply,
			</if>
			<if test="null != status">
				status,
			</if>
			<if test="null != createTime">
				create_time,
			</if>
			<if test="null != objectId">
				object_id,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="null != id">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="null != content">
				#{content,jdbcType=VARCHAR},
			</if>
			<if test="null != fromUid">
				#{fromUid,jdbcType=INTEGER},
			</if>
			<if test="null != nickname">
				#{nickname,jdbcType=VARCHAR},
			</if>
			<if test="null != thumbImg">
				#{thumbImg,jdbcType=VARCHAR},
			</if>
			<if test="null != isReply">
				#{isReply,jdbcType=INTEGER},
			</if>
			<if test="null != status">
				#{status,jdbcType=INTEGER},
			</if>
			<if test="null != createTime">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="null != objectId">
				#{objectId,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	
	<update id="updateByPrimaryKeySelective" parameterType="com.card.inteface.entity.Comment">
		update comment
		<set>
			<if test="null != id">
				id = #{id,jdbcType=INTEGER},
			</if>
			<if test="null != content">
				content = #{content,jdbcType=VARCHAR},
			</if>
			<if test="null != fromUid">
				from_uid = #{fromUid,jdbcType=INTEGER},
			</if>
			<if test="null != nickname">
				nickname = #{nickname,jdbcType=VARCHAR},
			</if>
			<if test="null != thumbImg">
				thumb_img = #{thumbImg,jdbcType=VARCHAR},
			</if>
			<if test="null != isReply">
				is_reply = #{isReply,jdbcType=INTEGER},
			</if>
			<if test="null != status">
				status = #{status,jdbcType=INTEGER},
			</if>
			<if test="null != createTime">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="null != objectId">
				object_id = #{objectId,jdbcType=INTEGER},
			</if>
		</set>
		<trim prefix="WHERE" prefixOverrides="AND|OR">
		id = #{id,jdbcType=INTEGER}
		</trim>
	</update>

	<select id="findCommentVoByCreditCardId" parameterType="java.lang.Integer" resultMap="CommentVo">
		select
		<include refid="Base_Column_List" />
		from comment
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			object_id = #{objectId,jdbcType=INTEGER}
		</trim>
		order by create_time desc
	</select>

	<select id="findUserNoReadCommentCount" parameterType="java.lang.Integer" resultType="java.lang.Integer">
		SELECT COUNT(1) FROM comment_reply cr WHERE cr.to_uid = #{toUid} and cr.is_read = 0
	</select>
</mapper>